/*
 * WTF dengan namanya 'sayangsayang.css'?! Saya heran dengan penulisnya. :^)
 */

#login-page footer > div {
  font-weight: bold;
  border-top: 1px solid #666;
  padding: 6px 0px;
}

html {
  font-family: Tahoma, Verdana;
  font-size: 12px;
}

.wrapper {
  max-width: 850px;
  margin: 0 auto;
}

form.login {
  max-width: 550px;
  margin: 10% auto;
  padding: 7px;
  border: 1px solid #c0c0c0;
}

form.login h2 {
  margin: 2px;
  display: block;
  border-bottom: 1px solid #c0c0c0;
}

form.login label {
  width: 40%;
  display: inline-block;
  text-align: end;
}

form.login label:after {
  content: ":";
  width: 5%;
  display: inline-block;
}

form.login input[type="submit"] {
  display: block;
  margin: 0 auto;
}

form.login > div {
  padding: 2px;
}

form.login input[type="password"], form.login input[type="text"], form.login select {
   width: 33%;
}

header {
  background: #2a344d;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

header h1.logo {
  width: 450px;
  height: 100px;
  text-indent: -9999px;
  display: inline-block;
  background: url(images/emanagement-logo.png) no-repeat;
  font-size: 0;
}

header h1.logo-small {
  width: 338px;
  height: 75px;
  text-indent: -9999px;
  display: inline-block;
  background: url(images/emanagement-logo-small.png) no-repeat;
  font-size: 0;
}

/* Datepicker CSS */
@import url(tanggalpicker.css);

/* BUAT EDIT */
#editButton {
  display: block;
  width: 4%;
  padding: 5px;
  border: 2px solid #d0e8f4;
  background-color: #ecf8fd;
}

#tampilEdit {
  width: 97,5%;
  display: none;
  padding: 5px;
  border: 2px solid #fadda9;
  background-color: #fdf4e1;
}

/* Simpledead Column grid */

.row {
  overflow: hidden;
}

.col {
  float: left;
}

iframe.fullwidth {
    width: 100%;
    border: none;
}

.menu-list li {
    display: table-cell;
    vertical-align: middle;
}

.menu-list a {
    color: #fff;
    text-decoration: none;
    padding: 29px 16px;
    display: inline-block;
    font-size: larger;
}

ul.menu-list {
    margin: 0;
    padding: 0;
    float: left;
}

.row > h1.logo-small {
    float: left;
}

.text-center {
  text-align: center;
}

html, body {
    min-height: 100%;
}
